<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lcl.mapper.TeamMapper">
    <update id="deleteTeamAndItsMemberRelation">
        update oa.team as t left join oa.team_member as tm
            on t.id = tm.team_id
        set t.delete_flg  = 1,
            tm.delete_flg = 1
        where t.id = #{teamId}
    </update>
    <select id="selectMembersInTeam" resultType="cn.lcl.pojo.User">
        select u.*
        from oa.team as t
                 left join oa.team_member as tm on t.id = tm.team_id
                 left join oa.user as u on u.id = tm.user_id
        where t.delete_flg = 0
          and tm.delete_flg = 0
          and u.delete_flg = 0
          and t.id = #{teamId}
    </select>
    <select id="selectTeamListByMemberId" resultType="cn.lcl.pojo.Team">
        select t.*
        from oa.team as t
                 left join oa.team_member as tm on t.id = tm.team_id
                 left join oa.user as u on u.id = tm.user_id
        where t.delete_flg = 0
          and tm.delete_flg = 0
          and u.delete_flg = 0
          and u.id = #{memberId}
    </select>
</mapper>