<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lcl.mapper.TeamMemberMapper">
    <select id="selectUsersByTeamId" resultType="cn.lcl.pojo.User">
        select u.*
        from user u
                 left join team_member tm on u.id = tm.user_id
        where tm.team_id = #{teamId}
          and u.delete_flg = 0
          and tm.delete_flg = 0
    </select>
</mapper>